.App {
  text-align: center;
}

.Splash-logo {
  animation: App-logo-jump infinite 2s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-jump {
  from { }
  to { transform: translateY(-250%); }
}
